.pricing{
    padding: 14px 10px;
    .pricing-wrapper{
        @include flex(center,center,20px);
        @media(max-width:768px){
          flex-direction:column;
          
        }
    }

.pricing-card{
    
   
    @extend %glass;
    text-align: center;
    width: fit-content;
    padding: 25px;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
    .text{
        color: red;
        font-size: 30px;
        
    }
    .text2{
        font-size: 30px;
        color: red;
        
        
    }
    .text3{
        color: red;
       
    
    }

&:hover{
    background-color: $color-white;
    color: rgb(33,33,33);
    transform: translatey(-20px);
}




}
.card-btn{
    width: 100%;
    background-color: red;
    padding: 5px;
    margin-top: 10px;

}
.wyrownaj ,
    
.wyrownaj1{
    @media(max-width: 400px){
        font-size: 25px;
    }
    @media(max-width: 300px){
        font-size: 20px;
        color: greenyellow;
    }
    @media(max-width: 200px){
        font-size: 10px;
    }
    text-align: start;
    margin:0;
    font-size: 30px;
}
}